In [90]:
import pandas as pd
import numpy as np
import math
from fuzzywuzzy import fuzz
from difflib import SequenceMatcher
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [58]:
bess_tags = pd.read_csv("CBW_Bess_tags_final.csv")

### Persona Mapping

In [178]:
### Getting a list of unique persona
unique_personas = bess_tags.personaName.unique()
unique_personas = list(unique_personas.astype('str'))

#Arranging based on the length of the string
unique_personas.sort(key = lambda s: len(s))

persona_mapping = pd.DataFrame(columns=['Persona_main','Alternate_name'])
persona_mapping

Empty DataFrame
Columns: [Persona_main, Alternate_name]
Index: []

In [183]:
## Creating Persona Mapping

persona_mapping = pd.DataFrame(columns=['Persona_main','Alternate_name'])

for P1 in unique_personas:
    for P2 in unique_personas:
        
        persona_temp = pd.DataFrame()
        
        if((pd.isnull(P1))  | (pd.isnull(P2))):
            continue
        
        ## Checking if the Persona has already been added to the mapping file
        if( any(persona_mapping.Persona_main.isin([P2])) or any(persona_mapping.Alternate_name.isin([P2]))):
            continue
        
        fuzz_score = fuzz.partial_ratio(P1,P2)
        
        if((P1 != P2) and ( fuzz_score> 80)):
            #print(P1," and ", P2, ": ",fuzz_score) 
            
            persona_temp.loc[0,'Persona_main'] = P1
            persona_temp.loc[0,'Alternate_name'] = P2
            
        persona_mapping = pd.concat([persona_mapping,persona_temp],axis = 0)

In [184]:
persona_mapping

            Persona_main                            Alternate_name
0                    nan                           Eleanor Brennan
0              Cleopatra                           Queen Cleopatra
0              La Maupin                              Julia Maupin
0            Sister Dora            Dorothy Pattison [Sister Dora]
0            Jeanne Becu                           Jeanne Recamier
0          Elizabeth Fry                           Queen Elizabeth
0          Elizabeth Fry                        Elizabeth Prentiss
0          Elizabeth Fry                Elizabeth Barrett Browning
0          Lady Hamilton                       Emma, Lady Hamilton
0         Rachel Russell                       Lady Rachel Russell
0       Ninon de Lenclos                         Ninon de L'Enclos
0       Ninon de Lenclos                         Ninon de l'Enclos
0      Dorothy Wordsorth                        Dorothy Wordsworth
0    Florence Nighingale                      Florence Nightingale
0  Angela Burdett-Coutts                   Baroness Burdett-Coutts
0  Angela Burdett-Coutts  Angela Georgina, Baroness Burdett-Coutts

## Authors Mapping

In [211]:
### Getting a list of unique persona
unique_authors = bess_tags.author.unique()
unique_authors = list(unique_authors.astype('str'))

#Arranging based on the length of the string
unique_authors.sort(key = lambda s: len(s))

unique_authors = [each for each in unique_authors if each not in [' ','nan']]

author_mapping = pd.DataFrame(columns=['Author_main','Alternate_name'])
author_mapping

Empty DataFrame
Columns: [Author_main, Alternate_name]
Index: []

In [212]:
## Creating Persona Mapping
for P1 in unique_authors:
    for P2 in unique_authors:
        
        author_temp = pd.DataFrame()
        
        if((pd.isnull(P1))  | (pd.isnull(P2))):
            continue
        
        ## Checking if the Persona has already been added to the mapping file
        if( any(author_mapping.Author_main.isin([P2])) or any(author_mapping.Alternate_name.isin([P2]))):
            continue
        
        fuzz_score = fuzz.partial_ratio(P1,P2)
        
        if((P1 != P2) and ( fuzz_score> 70)):
            #print(P1," and ", P2, ": ",fuzz_score) 
            
            author_temp.loc[0,'Author_main'] = P1
            author_temp.loc[0,'Alternate_name'] = P2
            
        author_mapping = pd.concat([author_mapping,author_temp],axis = 0)

In [213]:
author_mapping

,Author_main,Alternate_name
0,Daniel Wise,"Daniel Wise, D.D."
0,Duncan Aikmen,Duncan Aikman
0,Cameron Rogers,Cameron Rodgers
0,John Maw Darton,John Maw Dawton
0,William Bolitho,William Horton Foster
0,Ethel Colburn Mayne,Ethel Colburne Mayne
0,Hamilton Wright Mabie,Hamilton Wright Mable and Kate Stephens
0,Hamilton Wright Mabie,"Hamilton Wright Mabie, Kate Stephens, eds."
0,Millicent Garrett Fawcett,Millicent Garrett Fawcett and Steuart Beatrice
0,Philip Walsingham Sergeant,Philip Walshingham Sergeant
0,Philip Walsingham Sergeant,Philip Walsingham Sergeant
0,Edmund Basil Francis D'Auvergne,Edmund Basil Francid D'Auvergne

In [210]:
author_mapping

,Author_main,Alternate_name
0,Henry Ewart,Henry Thomas
0,Henry Ewart,William Henry Davenport Adams
0,Daniel Wise,"Daniel Wise, D.D."
0,James Parton,John Maw Darton
0,Duncan Aikmen,Duncan Aikman
0,Cameron Rogers,Cameron Rodgers
0,Robert Cochrane,Jeanie Douglas Cochrane
0,John Maw Darton,John Maw Dawton
0,William Bolitho,William Horton Foster
0,William Bolitho,William Rutherford Hayes Trowbridge
0,"Cochrane, Jeanie","Cochrane, Robert"
0,Ethel Colburn Mayne,Ethel Colburne Mayne
0,Hamilton Wright Mabie,Hamilton Wright Mable and Kate Stephens
0,Hamilton Wright Mabie,"Hamilton Wright Mabie, Kate Stephens, eds."
0,Millicent Garrett Fawcett,Millicent Garrett Fawcett and Steuart Beatrice
0,Philip Walsingham Sergeant,Philip Walshingham Sergeant
0,Philip Walsingham Sergeant,Philip Walsingham Sergeant
0,Edmund Basil Francis D'Auvergne,Edmund Basil Francid D'Auvergne
0,Hamilton Wright Mable and Kate Stephens,"Mabie, Hamilton and Kate Stephenson"