In [1]:
from scipy.signal import savgol_filter
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()

'/Users/user/Documents/CBW/Data'

In [3]:
textdatanew = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_data_sent.csv', encoding='ISO-8859-1')

In [4]:
textdatanew.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral

In [5]:
bess_tags = pd.read_csv('/Users/user/Documents/CBW/Data/final/CBW_Bess_tags_final2.csv', encoding='ISO-8859-1')

In [6]:
bess_tags.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...

In [7]:
textdata_sent = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_data_sent.csv', encoding='ISO-8859-1')

In [8]:
textdata_sent.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral

In [9]:
textdata_sent['key']= textdata_sent.CollectionID.apply(str) + '_' + textdata_sent.BiographyID.apply(str)

In [10]:
bess_tags['key']= bess_tags.collectionID.apply(str) + '_' + bess_tags.biographyID.apply(str)

In [11]:
textdata_sent.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment,key
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral,a160_bio04
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive,a160_bio04
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral,a160_bio04
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral,a160_bio04
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral,a160_bio04

In [12]:
groupbykey =textdata_sent.groupby('key')['score'].mean()

In [13]:
groupbykey = pd.DataFrame(groupbykey)

In [41]:
bess_tags.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title,key
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04

In [55]:
bess_new = bess_tags[['key','author', 'personaName', 'para no']]

In [56]:
bess_new.head()

          key             author personaName  para no
0  a001_bio04  Willis John Abbot   Cleopatra      1.0
1  a001_bio04  Willis John Abbot   Cleopatra      1.0
2  a001_bio04  Willis John Abbot   Cleopatra      2.0
3  a001_bio04  Willis John Abbot   Cleopatra      3.0
4  a001_bio04  Willis John Abbot   Cleopatra      4.0

In [57]:
avg_sentiment = pd.merge(groupbykey, bess_new,on='key', how='left')

In [58]:
avg_sentiment.head()

          key     score             author personaName  para no
0  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0
1  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0
2  a001_bio04  0.031219  Willis John Abbot   Cleopatra      2.0
3  a001_bio04  0.031219  Willis John Abbot   Cleopatra      3.0
4  a001_bio04  0.031219  Willis John Abbot   Cleopatra      4.0

In [59]:
avg_sentiment.rename(columns={'para no' : 'para_no'}, inplace=True)

In [60]:
#groupby_author=avg_sentiment.groupby('author')
groupedauthors = avg_sentiment.groupby('author')['key'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [61]:
groupedauthors=pd.DataFrame(groupedauthors)

In [62]:
groupedauthors.head()

                           key
author
Unknown                     39
Robert Cochrane             26
Ethel Colburn Mayne         22
Millicent Garrett Fawcett   21
Albert Payson Terhune       20

In [22]:
import plotly
plotly.tools.set_credentials_file(username='sakshijawarani', api_key='mGSoLQ8aVjEuklSQiQQN')
from plotly.plotly import iplot

In [24]:
# import graph objects as "go"
import plotly.graph_objs as go
# create trace1 
trace1 = go.Bar(
                x = groupedauthors.index[:10],
                y = groupedauthors.key,
                name = "freq",
                marker = dict(color = 'rgba(0, 0, 128, 0.7)',
                             line=dict(color='rgb(0,0,0)',width=1.5)),
                text = groupedauthors.index)

data = [trace1]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [26]:
groupedpersonas = avg_sentiment.groupby('personaName')['key'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [27]:
groupedpersonas=pd.DataFrame(groupedpersonas)

In [28]:
groupedpersonas.head()

                  key
personaName
Sister Dora        18
Lola Montez        14
Queen Victoria      8
Frances Trollope    7
Elizabeth Fry       7

In [29]:
# import graph objects as "go"
import plotly.graph_objs as go
# create trace1 
trace1 = go.Bar(
                x = groupedpersonas.head(15).index,
                y = groupedpersonas.head(15).key,
                name = "freq",
                marker = dict(color = 'rgba(0, 255, 255, 0.5)',
                             line=dict(color='rgb(1,1,1)',width=1.5)),
                text = groupedpersonas.index)

data = [trace1]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [30]:
groupedbykey = textdata_sent.groupby('key')['ParagraphNo'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [31]:
grouped = pd.DataFrame(groupedbykey)

In [32]:
grouped.shape

(306, 1)

In [33]:
trace = go.Histogram(x=grouped.ParagraphNo, xbins=dict(start=np.min(grouped.ParagraphNo), size=5, end=np.max(grouped.ParagraphNo)),
                   marker=dict(color='rgb(0,100 ,100, 0.5)'))

layout = go.Layout(
    title="Histogram Frequency Counts", 
)

fig = go.Figure(data=go.Data([trace]), layout=layout)
iplot(fig, filename='histogram-freq-counts')

/Applications/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [291]:
grouped_paras

ParagraphNo
14     11
16      7
43      6
17      6
78      6
26      6
24      6
10      6
38      6
13      6
18      6
65      5
33      5
40      5
30      5
12      5
58      5
53      5
8       5
7       5
29      5
102     4
96      4
44      4
100     4
52      4
9       4
25      4
15      4
103     3
       ..
173     1
180     1
5       1
217     1
109     1
32      1
106     1
105     1
62      1
67      1
68      1
69      1
71      1
55      1
73      1
74      1
51      1
79      1
82      1
84      1
86      1
87      1
88      1
39      1
92      1
34      1
97      1
245     1
104     1
248     1
Name: key, Length: 119, dtype: int64

In [34]:
bess_transformed = pd.read_csv('/Users/user/Documents/CBW/Data/final/BESS_transformed_final.csv', encoding='ISO-8859-1')

In [35]:
text_features = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_features.csv', encoding='ISO-8859-1', low_memory=False)

In [40]:
avg_sentiment['time']=(avg_sentiment.para_no)/max(avg_sentiment.para_no)

                  key
personaName
Sister Dora        18
Lola Montez        14
Queen Victoria      8
Frances Trollope    7
Elizabeth Fry       7

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x = groupedpersonas.head(15).time,
    y = groupedpersonas.head(15).
    name='SF Zoo'
)
trace2 = go.Bar(
    x=['giraffes', 'orangutans', 'monkeys'],
    y=[12, 18, 29],
    name='LA Zoo'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')

In [63]:
avg_sentiment.head()

          key     score             author personaName  para_no
0  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0
1  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0
2  a001_bio04  0.031219  Willis John Abbot   Cleopatra      2.0
3  a001_bio04  0.031219  Willis John Abbot   Cleopatra      3.0
4  a001_bio04  0.031219  Willis John Abbot   Cleopatra      4.0

In [67]:
avg_sentiment['time']= avg_sentiment['para_no']/max(avg_sentiment['para_no'])

In [69]:
avg_sentiment.head()

          key     score             author personaName  para_no      time
0  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0  0.004032
1  a001_bio04  0.031219  Willis John Abbot   Cleopatra      1.0  0.004032
2  a001_bio04  0.031219  Willis John Abbot   Cleopatra      2.0  0.008065
3  a001_bio04  0.031219  Willis John Abbot   Cleopatra      3.0  0.012097
4  a001_bio04  0.031219  Willis John Abbot   Cleopatra      4.0  0.016129