In [259]:
from scipy.signal import savgol_filter
import pandas as pd

In [260]:
import os
os.getcwd()

'/Users/user/Documents/CBW/Data'

In [261]:
textdatanew = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_data_sent.csv', encoding='ISO-8859-1')

In [262]:
textdatanew.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral

In [263]:
bess_tags = pd.read_csv('/Users/user/Documents/CBW/Data/final/CBW_Bess_tags_final.csv', encoding='ISO-8859-1')

In [264]:
bess_tags.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...

In [265]:
textdata_sent = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_data_sent.csv', encoding='ISO-8859-1')

In [266]:
textdata_sent.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral

In [267]:
textdata_sent['key']= textdata_sent.CollectionID.apply(str) + '_' + textdata_sent.BiographyID.apply(str)

In [268]:
bess_tags['key']= bess_tags.collectionID.apply(str) + '_' + bess_tags.biographyID.apply(str)

In [269]:
textdata_sent.head()

,ParagraphNo,ParagraphText,CollectionID,BiographyID,score,sentiment,key
0,1,When some future historian takes up his pen to...,a160,bio04,0.000000,neutral,a160_bio04
1,2,The world has probably never seen a more remar...,a160,bio04,0.881739,positive,a160_bio04
2,3,From Arctic snows to the burning sands of Afri...,a160,bio04,0.000000,neutral,a160_bio04
3,4,"Born at Ashbourne, in Derbyshire, in January, ...",a160,bio04,0.000000,neutral,a160_bio04
4,5,"Little Catherine, a striking-looking girl, wit...",a160,bio04,0.000000,neutral,a160_bio04

In [270]:
groupbykey =textdata_sent.groupby('key')['score'].mean()

In [271]:
groupbykey = pd.DataFrame(groupbykey)

In [272]:
groupbykey.head()

               score
key
a001_bio04  0.031219
a001_bio20 -0.277147
a001_bio70 -0.320371
a007_bio12  0.031321
a007_bio13  0.022599

In [273]:
avg_sentiment = pd.merge(bess_tags, groupbykey,on='key', how='left')

In [234]:
avg_sentiment.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title,key,score
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04,0.031219
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04,0.031219
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04,0.031219
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04,0.031219
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...,a001_bio04,0.031219

In [235]:
groupbykey.head()

               score
key
a001_bio04  0.031219
a001_bio20 -0.277147
a001_bio70 -0.320371
a007_bio12  0.031321
a007_bio13  0.022599

In [236]:
avg_sentiment.rename(columns={'para no' : 'para_no'}, inplace=True)

In [237]:
#groupby_author=avg_sentiment.groupby('author')
groupedauthors = avg_sentiment.groupby('author')['key'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [238]:
groupedauthors=pd.DataFrame(groupedauthors)

In [241]:
groupedauthors.head()

                                                key
author
Unknown                                          39
Robert Cochrane                                  25
Albert Payson Terhune                            20
Ethel Colburn Mayne                              19
Millicent Garrett Fawcett and Steuart Beatrice   19

In [245]:
# import graph objects as "go"
import plotly.graph_objs as go
# create trace1 
trace1 = go.Bar(
                x = groupedauthors.index,
                y = groupedauthors.key,
                name = "freq",
                marker = dict(color = 'rgba(255, 174, 255, 0.5)',
                             line=dict(color='rgb(0,0,0)',width=1.5)),
                text = groupedauthors.index)

data = [trace1]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [246]:
groupedpersonas = avg_sentiment.groupby('personaName')['key'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [247]:
groupedpersonas=pd.DataFrame(groupedpersonas)

In [248]:
groupedpersonas.head()

                  key
personaName
Sister Dora        18
Lola Montez        14
Queen Victoria      8
Frances Trollope    7
Elizabeth Fry       7

In [256]:
# import graph objects as "go"
import plotly.graph_objs as go
# create trace1 
trace1 = go.Bar(
                x = groupedpersonas.head(10).index,
                y = groupedpersonas.head(10).key,
                name = "freq",
                marker = dict(color = 'rgba(0, 170, 250, 0.5)',
                             line=dict(color='rgb(1,1,1)',width=1.5)),
                text = groupedpersonas.index)

data = [trace1]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [277]:
groupedbykey = textdata_sent.groupby('key')['ParagraphNo'].apply(lambda x: len(x.unique())).sort_values(ascending = False)

In [282]:
grouped = pd.DataFrame(groupedbykey)

In [297]:
grouped.shape

(306, 2)

In [305]:
trace = go.Histogram(x=grouped.ParagraphNo, xbins=dict(start=np.min(grouped.ParagraphNo), size=5, end=np.max(grouped.ParagraphNo)),
                   marker=dict(color='rgb(0,100 ,100)'))

layout = go.Layout(
    title="Histogram Frequency Counts"
)

fig = go.Figure(data=go.Data([trace]), layout=layout)
py.iplot(fig, filename='histogram-freq-counts')

/Applications/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [291]:
grouped_paras

ParagraphNo
14     11
16      7
43      6
17      6
78      6
26      6
24      6
10      6
38      6
13      6
18      6
65      5
33      5
40      5
30      5
12      5
58      5
53      5
8       5
7       5
29      5
102     4
96      4
44      4
100     4
52      4
9       4
25      4
15      4
103     3
       ..
173     1
180     1
5       1
217     1
109     1
32      1
106     1
105     1
62      1
67      1
68      1
69      1
71      1
55      1
73      1
74      1
51      1
79      1
82      1
84      1
86      1
87      1
88      1
39      1
92      1
34      1
97      1
245     1
104     1
248     1
Name: key, Length: 119, dtype: int64

In [109]:
bess_transformed = pd.read_csv('/Users/user/Documents/CBW/Data/final/BESS_transformed_final.csv', encoding='ISO-8859-1')

In [110]:
text_features = pd.read_csv('/Users/user/Documents/CBW/Data/final/text_features.csv', encoding='ISO-8859-1', low_memory=False)

In [163]:
avg_sentiment['time']=(avg_sentiment.para_no)/max(avg_sentiment.para_no)