In [1]:
#Importing required packages
import numpy as np
import os
import pandas as pd

In [2]:
#Setting the working directory
os.chdir('E:/Capstone IATH/Code')

In [3]:
#Loading the data
bess_data = pd.read_csv('CBW_Bess_tags_final2.csv', encoding='ISO-8859-1', low_memory=False)
bess_data.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...

# Distribution of top Topos types across various biographies

In [24]:
#Count of values in Topos
top_topos = bess_data[bess_data.Type == 'topos'].Content.value_counts()[1:10]
top_topos

fame in lifetime                         489
dying or deathbed                        484
association with great man or men        463
recognition or tribute                   451
hostility                                434
triumph as fulfilled goal or ambition    427
romance                                  399
charity                                  375
faith                                    315
Name: Content, dtype: int64

In [28]:
#fame in lifetime 
topos_type = bess_data[bess_data.Content.isin([top_topos.index[0]])]
topos_type.personaName.value_counts()[0:15]

Calamity Jane           63
Lola Montez             47
Florence Nightingale    19
Jenny Lind              16
Grace Darling           12
Louisa May Alcott       11
Frances Trollope        11
Hannah More             10
Catherine Booth         10
Peg Woffington          10
Adrienne Lecouvreur     10
Pearl Hart              10
Anthony Trollope         9
Agnes Weston             9
Elizabeth Fry            8
Name: personaName, dtype: int64

In [29]:
#dying or deathbed 
topos_type = bess_data[bess_data.Content.isin([top_topos.index[1]])]
topos_type.personaName.value_counts()[0:15]

Sister Dora                             91
Queen Victoria                          31
Adrienne Lecouvreur                     27
Elizabeth Fry                           26
Frances Ridley Havergal                 13
Calamity Jane                           13
Louisa Daniell                          12
Princess Alice                          11
Lola Montez                             10
Charlotte Elizabth Tonna                10
Louisa May Alcott                        9
Marie de Rohan                           8
Catherine Tait                           8
Henrietta Stuart                         8
Mata Hari, Marguerite Gertrude Zelle     7
Name: personaName, dtype: int64

In [40]:
#association with great man or men 
topos_type = bess_data[bess_data.Content.isin([top_topos.index[2]])]
topos_type.personaName.value_counts()[0:15]

Lola Montez                                  92
Lady Hamilton                                30
Calamity Jane                                29
Evelina Hanska                               26
Anne Fitzpatrick Countess of Upper Ossory    23
Marie de Rohan                               15
Adrienne Lecouvreur                          10
Cleopatra                                     9
Elizabeth Chudleigh                           9
Laura Bell                                    8
Felicia Dorothea Hemans                       8
Felicia Hemans                                8
Grace Darling                                 7
Louisa May Alcott                             6
Hannah More                                   6
Name: personaName, dtype: int64

In [41]:
#recognition or tribute                 
topos_type = bess_data[bess_data.Content.isin([top_topos.index[3]])]
topos_type.personaName.value_counts()[0:15]

Sister Dora                58
Lola Montez                49
Queen Victoria             40
Anthony Trollope           33
Agnes Weston               27
Mary Carpenter             20
Caroline Herschel          17
Florence Nightingale       16
Elizabeth Fry              11
Mary Somerville             9
Hannah More                 9
Baroness Burdett-Coutts     7
Harriet Beecher Stowe       6
Mary Lamb                   6
Lady Henry Somerset         6
Name: personaName, dtype: int64

In [42]:
#hostility                                
topos_type = bess_data[bess_data.Content.isin([top_topos.index[4]])]
topos_type.personaName.value_counts()[0:15]

Lola Montez                             68
Mata Hari, Marguerite Gertrude Zelle    47
Dorothea Jordan                         12
ThÃÂ©roigne de MÃÂ©ricourt            12
Jeanne de Valois-Saint RÃÂ©my          10
Adrienne Lecouvreur                     10
Theodora                                 9
Queen Victoria                           9
Caroline Norton                          7
Madame du Barry                          7
Calamity Jane                            7
Florence Nightingale                     7
Nell Gwyn                                7
Cleopatra                                7
Peg Woffington                           7
Name: personaName, dtype: int64

In [43]:
#triumph as fulfilled goal or ambition  
topos_type = bess_data[bess_data.Content.isin([top_topos.index[5]])]
topos_type.personaName.value_counts()[0:15]

Agnes Weston             40
Catherine Booth          24
Mary Carpenter           22
Anthony Trollope         21
Florence Nightingale     19
Sarah Robinson           18
Lola Montez              17
Sister Dora              16
Elizabeth Fry            14
Frances Willard          12
Caroline Herschel        12
Louisa May Alcott        11
Peg Woffington            9
Queen Victoria            9
Maud Ballington Booth     7
Name: personaName, dtype: int64

In [44]:
#romance                                  
topos_type = bess_data[bess_data.Content.isin([top_topos.index[6]])]
topos_type.personaName.value_counts()[0:15]

Catherine Booth         56
Lola Montez             54
Queen Victoria          23
Madame Jumel            14
Marguerite of Valois    13
Adrienne Lecouvreur     13
Marie Mancini            9
Calamity Jane            9
Gabrielle d'Estrees      9
Princess Alice           9
Evelina Hanska           8
Jane Welsh Carlyle       8
Sister Dora              7
Patrick Hull             7
Cleopatra                6
Name: personaName, dtype: int64

In [45]:
#charity                                  
topos_type = bess_data[bess_data.Content.isin([top_topos.index[7]])]
topos_type.personaName.value_counts()[0:15]

Baroness Burdett-Coutts                     31
Sister Dora                                 29
Elizabeth Fry                               23
Agnes Weston                                21
Catherine Booth                             20
Angela Georgina, Baroness Burdett-Coutts    20
Princess Mary Adelaide                      18
Calamity Jane                               18
Princess Alice                              15
Dorothea Jordan                             14
Catherine Tait                              13
Queen Victoria                              12
Mary Carpenter                               9
Catherine Gladstone                          8
Sarah Robinson                               8
Name: personaName, dtype: int64

In [46]:
#faith
topos_type = bess_data[bess_data.Content.isin([top_topos.index[8]])]
topos_type.personaName.value_counts()[0:15]

Charlotte Elizabth Tonna    35
Frances Ridley Havergal     34
Agnes Weston                21
Elizabeth Prentiss          17
Queen Victoria              13
Elizabeth Fry               12
Mary Carpenter              11
Frances Trollope            10
Louisa Daniell               9
Hannah Whitall Smith         9
Felicia Hemans               8
Eleanor Brennan              8
Lady Jane Grey               7
Mary Moffat                  7
Catherine Booth              6
Name: personaName, dtype: int64