In [1]:
import pandas as pd

In [14]:
cluters = pd.read_csv('Events_clusters_2.csv')

In [15]:
bess_tags = pd.read_csv('CBW_Bess_tags_final2.csv')
bess_tags.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...

In [16]:
######### Selecting only the Events ##########
bess_tags  = bess_tags[bess_tags.Type == 'Event']


######### Creating the contents column ########
bess_tags['Content'] = bess_tags['Content'] + ' ; ' + bess_tags['Event']
all_bess = bess_tags['Content'].value_counts()[bess_tags['Content'].value_counts() > 2]

In [18]:
cluters.columns = ['Content','Cluster']

In [20]:
bess_tags = pd.merge(bess_tags,cluters, on = 'Content')

In [113]:
select_cluster = 10
cluster_subset = bess_tags[bess_tags.Cluster == select_cluster]

cluster_subset_agg = cluster_subset.groupby(['collectionID','biographyID','personaName'],as_index = False)['Cluster'].\
                    count().sort_values(['Cluster'],ascending = False)

In [114]:
cluster_subset_agg['Percent_cluster'] = 100 * cluster_subset_agg['Cluster']/cluster_subset.shape[0]

In [115]:
cluster_subset.Content.unique()

array(['seduction ; type', 'marriage proposal refused ; type',
       'invitation ; type', 'war, civil ; type',
       'permission granted ; type', 'assassination ; type',
       'arrest ; type', 'crowd gathering, spectacle ; type',
       'execution ; type', 'business failure, bankruptcy ; type',
       'forfeiting property ; type', 'insulting ; type',
       'preaching ; type', 'recognition, written praise ; type',
       'maternity ; type', 'marriage, voluntary ; type',
       'childcare ; type', 'publication ; type',
       'persecution, religious ; type', 'charity, organized ; type',
       'mission, religious, foreign ; type', 'campaign ; type',
       'publicity ; type', 'research, scholarly inquiry ; type',
       'adventure, persona initiated ; type',
       'recognition, spoken praise ; type', 'slander ; type',
       "illness, persona's ; type", 'illness, mental ; type',
       'profanity ; type', 'eavesdropping, overhearing ; type',
       'prostitution ; type', 'gambling ; type',
       'carousing, disorderly conduct ; type',
       'permission refused ; type', 'threat ; type',
       'travel, military deployment ; type',
       'persecution, gender or sexual ; type',
       'accident harming persona ; type', 'flirtation ; type',
       'arrival ; type', 'trial, acquittal ; type', 'grieving ; type',
       'burial ; type', 'recognition, grave marker or tomb ; type',
       'recognition, building ; type', 'election ; type', 'siege ; type',
       'obedience or submission ; type', 'permission request ; type',
       'duel ; type', 'spying ; type', 'departure ; type',
       'engagement ; type', 'disobedience ; type',
       'fainting, collapsing ; type', 'forgiveness ; type',
       'marriage, arranged ; type', 'courtship ; type', 'adultery ; type',
       'exile ; type', 'divorce ; type', 'persecution, political ; type',
       'marital quarrel ; type', 'separation, informal ; type',
       'punishment ; type', 'conversion ; type',
       'sexual assault, attempted rape ; type',
       'harassment, sexual ; type', 'childbirth ; type', 'labor ; type',
       'marriage proposal ; type', 'writing religious tract ; type',
       'illness, recurrent or epidemic ; type',
       'illness, nonfamily individual ; type',
       'consultation, medical ; type', 'operation, medical ; type',
       'persecution, racial ; type', 'natural disaster ; type',
       'recognition, title ; type', 'receiving allowance ; type',
       'recognition, statue ; type', 'founding organization ; type',
       'legislation ; type', 'farming ; type',
       'recognition, plaque ; type', 'coronation ; type',
       'patient ; agentType', 'separation, legal ; type',
       'proposition, sexual ; type', 'religious rite ; type',
       'lobbying ; type', 'surrender ; type', 'sculpting ; type',
       'bribery ; type', 'recognition, window ; type',
       'experimentation, scientific ; type', 'pilgrimage ; type',
       'political movement, temperance ; type',
       'borrowing, lending money ; type',
       'delusion or hallucination ; type', 'treason ; type',
       'sexual intercourse ; type', 'sexual assault, rape ; type',
       'recognition, portrait ; type', 'human trafficking ; type'],
      dtype=object)

In [116]:
cluster_subset_agg.groupby(['personaName'],as_index = False)['Percent_cluster'].sum().\
                    sort_values(['Percent_cluster'],ascending = False)

                                   personaName  Percent_cluster
115                                Lola Montez         9.550441
183                                Sister Dora         7.345666
31                             Catherine Booth         3.312540
173                             Queen Victoria         2.989890
2                          Adrienne Lecouvreur         2.516670
57                               Elizabeth Fry         2.473650
75                            Frances Trollope         2.237040
5                                 Agnes Weston         2.183265
182                             Sarah Robinson         1.828350
25                               Calamity Jane         1.763820
74                     Frances Ridley Havergal         1.494945
165                             Princess Alice         1.312110
41                                   Cleopatra         1.290600
27                           Caroline Herschel         1.097010
142                             Mary Carpenter         1.043235
163                             Peg Woffington         0.967950
69                        Florence Nightingale         0.903420
186                               Tarabai Rani         0.881910
18                            Anthony Trollope         0.871155
150                            Mary Somerville         0.871155
106                                  La Maupin         0.871155
151       Mata Hari, Marguerite Gertrude Zelle         0.817380
160                               Patrick Hull         0.817380
192                          Victoria Woodhull         0.795870
188                                   Theodora         0.795870
21                                 Belle Starr         0.774360
170                            Queen Cleopatra         0.752850
56                         Elizabeth Chudleigh         0.731340
137                             Marie de Rohan         0.720585
78                                 George Sand         0.720585
..                                         ...              ...
71                              Frances Bunsen         0.107550
159                               Octavia Hill         0.096795
154                             Mrs. Wakefield         0.096795
15   Anne Fitzpatrick Countess of Upper Ossory         0.096795
45                             Dorothea Jordan         0.096795
126                      Margaret Bright Lucas         0.086040
49                                 Edith Carew         0.086040
139                            Mary Ann Mullen         0.086040
112                                  Lady Sale         0.086040
143                Mary Clements, Lady Leitrim         0.086040
72                            Frances D'Arblay         0.086040
46              Dorothy Pattison [Sister Dora]         0.075285
14             Anne Caulfeild, Lady Charlemont         0.075285
37                           Charlotte Cushman         0.075285
79                                Giulia Grisi         0.075285
123                           Madame Moustache         0.075285
58                           Elizabeth Gilbert         0.064530
91                                Jane Austen          0.064530
36                            Charlotte Corday         0.064530
140                            Mary Ann Rogers         0.053775
84                        Hannah Whitall Smith         0.053775
29                               Carrie Nation         0.053775
13                              Anna Mackenzie         0.043020
184                   Susan Edmonstone Ferrier         0.043020
60                               Ellen Ranyard         0.043020
103                               Julia Pardoe         0.043020
148                       Mary Russell Mitford         0.043020
51                              Eleanor Fisher         0.032265
105                                Kitty LeRoy         0.021510
7                            Alice Ivers Tubbs         0.010755

[194 rows x 2 columns]