In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from collections import Counter
from nltk.tokenize import word_tokenize
import scipy as sp

## 1. Reading the text data

In [2]:
path='/Users/user/Documents/github/CBW/data/text_data_sentence_wtopics.csv'

In [3]:
text_data_sentence = pd.read_csv(path, encoding='ISO-8859-1')
text_data_sentence.head(5)

,Unnamed: 0,CollectionID,BiographyID,ParagraphNo,ParagraphText,Topic 0,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5
0,0,a001,bio04,1,"A FRENCH philosopher, moralizing on the great ...",0.000000,0.259191,0.456633,0.0,0.000000,0.270889
1,1,a001,bio04,2,Cleopatra was joint heir to the throne of Egyp...,0.000000,0.982856,0.000000,0.0,0.000000,0.000000
2,2,a001,bio04,3,Cleopatra might have responded with a brillian...,0.237276,0.620166,0.000000,0.0,0.000000,0.136395
3,3,a001,bio04,4,Caesar was then above fifty years of age. His ...,0.000000,0.747046,0.245938,0.0,0.000000,0.000000
4,4,a001,bio04,5,For three years Cleopatra reigned with little ...,0.000000,0.979924,0.000000,0.0,0.012819,0.000000

## 2. Reading the text features

In [4]:
path2='/Users/user/Documents/github/CBW/data/text_features.csv'

In [5]:
text_features = pd.read_csv(path2, encoding='ISO-8859-1')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,12,15,16,22,23,24,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
text_features.head(2)

,CollectionID,BiographyID,ParagraphNo,sadness,joy,fear,disgust,anger,score,sentiment,...,Number,Organization,Person,PrintMedia,Quantity,Sport,SportingEvent,TelevisionShow,Time,Vehicle
0,a001,bio04,1,0.255896,0.558011,0.101166,0.111615,0.054668,0.290669,positive,...,NaN,NaN,Cleopatra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a001,bio04,2,0.171629,0.257088,0.173474,0.098726,0.267978,0.000000,neutral,...,NaN,Roman senate,"Cleopatra, Julius Caesar, Pompey, Ptolemy",NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Reading the Response file

In [7]:
path3 = '/Users/user/Documents/github/CBW/data/CBW_Bess_tags_final2.csv'

In [8]:
bess_tags = pd.read_csv(path3)

In [9]:
bess_tags.head()

,Content,Event,Type,para no,URI,author,biographyID,collectionID,personaName,title
0,after,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
1,culmination,name,stageOfLife,1.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
2,middle,name,stageOfLife,2.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
3,middle,name,stageOfLife,3.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...
4,middle,name,stageOfLife,4.0,a001.bio04.bess.xml,Willis John Abbot,bio04,a001,Cleopatra,Cleopatra (B.C. 69-30): The World's Most Famou...

## 4. Preprocessing BESS Response file

In [10]:
bess_reponse = bess_tags.loc[:,['Content','Event','Type','para no','biographyID','collectionID']]
bess_reponse= bess_reponse.fillna(' ')

### Creating a new column for the response variable
bess_reponse.loc[:,'Response'] = bess_reponse.loc[:,['Content','Event']].apply(lambda x: '_'.join(x),axis = 1)


### Concatenating columns to create new columns
bess_reponse['Bio_col_id'] = bess_reponse['biographyID'] +"_" + bess_reponse['collectionID']
bess_reponse['Bio_col_para_id'] = bess_reponse['Bio_col_id'] +"_" + bess_reponse['para no'].astype('str')

#### 4.1 Selecting the top BESS reponses for events based on TF-IDF method

In [11]:
doc_count = pd.DataFrame(bess_reponse[bess_reponse.Type.isin(['Event'])].\
                         groupby(['Response'])['Bio_col_id'].apply(lambda x: len(np.unique(x))))

term_freq = pd.DataFrame(bess_reponse[bess_reponse.Type.isin(['Event'])].\
                            groupby(['Response'])['Bio_col_id'].count())

total_docs = len(bess_reponse['Bio_col_id'].unique())

##### 4.2 Grouping by the term frequencies to get the top values

In [12]:
group_by_counts = pd.concat([term_freq,doc_count],axis = 1)

group_by_counts.columns = ['Term_freq','Doc_freq']
group_by_counts['tf_idf'] = pd.DataFrame(group_by_counts['Term_freq'] * np.log(total_docs/group_by_counts['Doc_freq']) )

group_by_counts.sort_values(['tf_idf'],ascending=False)[0:10]

                              Term_freq  Doc_freq       tf_idf
Response
lover, male, named_agentType        776        75  1091.131263
hospital_locationStructure          617        71   901.378524
sovereign, male_agentType           655        79   886.959898
nobleman, named_agentType           853       122   784.388141
husband_agentType                  1245       165   768.961337
royalty, male_agentType             753       111   763.583340
conversation_type                  1118       171   650.588288
nursing, professional_type          281        33   625.808789
famous man_agentType                712       129   615.006161
officer, military_agentType         540        98   614.853517

### 5. Preparing Final Respone File

#### 5.1 Getting a distribution of all the responses

In [13]:
bio_response = pd.DataFrame(bess_reponse.groupby(['Response'])['Bio_col_para_id'].apply(lambda x: len(np.unique(x))))
bio_response.sort_values(['Bio_col_para_id'],ascending=False).head(10)

                                                    Bio_col_para_id
Response
middle_name                                                    8459
culmination_name                                               2695
beginning_name                                                 2365
evaluation_type                                                2286
emphasis in typeface, punctuation_type                         2140
present tense_type                                             1645
quotation, agent's speech, unique_type                         1606
description of agent or identified set of agent...             1535
direct address, use of we_type                                 1481
city_locationSetting                                           1180

### 5.2 Selecting the response to Analyse

In [14]:
reponse_required = 'lover, male, named_agentType'

In [15]:
text_data_sentence.BiographyID.dtype

dtype('O')

In [16]:
#reponse_required_to_merge['para no']=reponse_required_to_merge['para no'].astype(int)

In [17]:
#reponse_required_to_merge.head()

In [18]:
#text_data_sentence['CollectionID']=text_data_sentence['CollectionID'].astype(str)
#text_data_sentence['BiographyID']=text_data_sentence['BiographyID'].astype(str)
#text_data_sentence['ParagraphNo']=text_data_sentence['ParagraphNo'].astype(str)


#reponse_required_to_merge['collectionID']=reponse_required_to_merge['collectionID'].astype(str)
#reponse_required_to_merge['biographyID']=reponse_required_to_merge['biographyID'].astype(str)
#reponse_required_to_merge['para no']=reponse_required_to_merge['para no'].astype(str)

In [19]:
reponse_required_to_merge = bess_reponse[bess_reponse.Response == reponse_required]
text_data_sentence.ParagraphNo = text_data_sentence.ParagraphNo.astype('int')
reponse_required_to_merge['para no'] = reponse_required_to_merge['para no'].astype('int')

### Merging the response with the text data file
text_data_merge = pd.merge(text_data_sentence, reponse_required_to_merge.drop_duplicates(),\
                     how = 'left', left_on=['CollectionID','BiographyID','ParagraphNo'],
                         right_on=['collectionID','biographyID','para no'])

final_data_frame = text_data_merge.loc[:,['ParagraphText','Response']]
final_data_frame['Response_binary'] = np.where(final_data_frame.Response.isnull(),0,1)
final_data_frame.head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ParagraphText,Response,Response_binary
0,"A FRENCH philosopher, moralizing on the great ...",NaN,0
1,Cleopatra was joint heir to the throne of Egyp...,NaN,0
2,Cleopatra might have responded with a brillian...,NaN,0
3,Caesar was then above fifty years of age. His ...,"lover, male, named_agentType",1
4,For three years Cleopatra reigned with little ...,NaN,0

In [20]:
final_data_frame.Response_binary.value_counts()

0    16054
1      583
Name: Response_binary, dtype: int64

## 6. Text Data - Preprocessing on the Final Response file

### 6.1 Getting stop words
#### High Frequency and Low Frequency word list

In [21]:
tokenized_para = final_data_frame.ParagraphText.apply(word_tokenize)

all_sent = [words for each_sent in tokenized_para for words in each_sent]

count_dict = Counter(all_sent)
high_freq_words = [word for (word,count) in count_dict.most_common(500)]

#### Getting Low Frequency words - based on a threshold
less_freq_words = []
threshold = 5

for k,v in count_dict.items():
    
    if v < threshold:
        less_freq_words.append(k)
        
stop_words = stopwords.words('english')
stop_words.extend(high_freq_words)
stop_words.extend(less_freq_words)

#### 6.2 Bag of Words

In [22]:
bow_model = CountVectorizer(ngram_range= (1,2),stop_words=stop_words)
Para_text_bow = bow_model.fit_transform(final_data_frame.ParagraphText)

features = bow_model.get_feature_names()

In [23]:
text_data_merge.head()

,Unnamed: 0,CollectionID,BiographyID,ParagraphNo,ParagraphText,Topic 0,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Content,Event,Type,para no,biographyID,collectionID,Response,Bio_col_id,Bio_col_para_id
0,0,a001,bio04,1,"A FRENCH philosopher, moralizing on the great ...",0.000000,0.259191,0.456633,0.0,0.000000,0.270889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,a001,bio04,2,Cleopatra was joint heir to the throne of Egyp...,0.000000,0.982856,0.000000,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,a001,bio04,3,Cleopatra might have responded with a brillian...,0.237276,0.620166,0.000000,0.0,0.000000,0.136395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,a001,bio04,4,Caesar was then above fifty years of age. His ...,0.000000,0.747046,0.245938,0.0,0.000000,0.000000,"lover, male, named",agentType,Event,4.0,bio04,a001,"lover, male, named_agentType",bio04_a001,bio04_a001_4.0
4,4,a001,bio04,5,For three years Cleopatra reigned with little ...,0.000000,0.979924,0.000000,0.0,0.012819,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
text_data_merge

(16637, 469815)

In [36]:
text_data_merge.iloc[:,[5,6,7,8,9,10]]

        Topic 0   Topic 1   Topic 2   Topic 3   Topic 4   Topic 5
0      0.000000  0.259191  0.456633  0.000000  0.000000  0.270889
1      0.000000  0.982856  0.000000  0.000000  0.000000  0.000000
2      0.237276  0.620166  0.000000  0.000000  0.000000  0.136395
3      0.000000  0.747046  0.245938  0.000000  0.000000  0.000000
4      0.000000  0.979924  0.000000  0.000000  0.012819  0.000000
5      0.169664  0.576307  0.158173  0.000000  0.000000  0.088027
6      0.000000  0.317665  0.000000  0.000000  0.655474  0.000000
7      0.000000  0.535851  0.000000  0.169375  0.286884  0.000000
8      0.000000  0.262566  0.000000  0.000000  0.719705  0.000000
9      0.000000  0.000000  0.000000  0.276829  0.000000  0.698197
10     0.011192  0.943881  0.011196  0.011321  0.011233  0.011177
11     0.000000  0.000000  0.000000  0.000000  0.000000  0.965033
12     0.083650  0.084304  0.084136  0.083346  0.083815  0.580749
13     0.000000  0.100959  0.000000  0.851440  0.020965  0.000000
14     0.024084  0.023959  0.023971  0.024056  0.024036  0.879895
15     0.000000  0.964940  0.000000  0.000000  0.000000  0.000000
16     0.293815  0.122348  0.000000  0.000000  0.573517  0.000000
17     0.000000  0.605415  0.000000  0.000000  0.000000  0.357128
18     0.000000  0.000000  0.643129  0.000000  0.000000  0.345459
19     0.365351  0.000000  0.604030  0.000000  0.000000  0.000000
20     0.000000  0.165485  0.477670  0.000000  0.000000  0.346114
21     0.000000  0.000000  0.964887  0.000000  0.000000  0.000000
22     0.353918  0.000000  0.630039  0.000000  0.000000  0.000000
23     0.000000  0.000000  0.983810  0.000000  0.000000  0.000000
24     0.000000  0.000000  0.500067  0.476760  0.000000  0.000000
25     0.070701  0.320761  0.275759  0.000000  0.328404  0.000000
26     0.000000  0.000000  0.424018  0.245311  0.313229  0.000000
27     0.000000  0.000000  0.975905  0.000000  0.000000  0.000000
28     0.000000  0.000000  0.000000  0.225108  0.000000  0.737408
29     0.000000  0.125984  0.860534  0.000000  0.000000  0.000000
...         ...       ...       ...       ...       ...       ...
16607  0.000000  0.980927  0.000000  0.000000  0.000000  0.000000
16608  0.000000  0.657091  0.000000  0.000000  0.328623  0.000000
16609  0.000000  0.983889  0.000000  0.000000  0.000000  0.000000
16610  0.024052  0.620112  0.283656  0.024056  0.023973  0.024151
16611  0.016779  0.916149  0.016717  0.016711  0.016756  0.016887
16612  0.000000  0.976056  0.000000  0.000000  0.000000  0.000000
16613  0.033543  0.832099  0.033510  0.033521  0.033734  0.033593
16614  0.083936  0.083983  0.083785  0.083969  0.580399  0.083927
16615  0.016795  0.655289  0.016844  0.277481  0.016774  0.016819
16616  0.011177  0.944114  0.011155  0.011173  0.011194  0.011187
16617  0.000000  0.976053  0.000000  0.000000  0.000000  0.000000
16618  0.000000  0.983864  0.000000  0.000000  0.000000  0.000000
16619  0.000000  0.965111  0.000000  0.000000  0.000000  0.000000
16620  0.000000  0.965054  0.000000  0.000000  0.000000  0.000000
16621  0.083531  0.083809  0.083441  0.083475  0.582027  0.083717
16622  0.016695  0.916485  0.016688  0.016686  0.016738  0.016708
16623  0.027860  0.027955  0.027812  0.860530  0.027966  0.027877
16624  0.015325  0.923315  0.015294  0.015356  0.015401  0.015309
16625  0.000000  0.630643  0.000000  0.000000  0.000000  0.338823
16626  0.010472  0.448304  0.509768  0.010466  0.010504  0.010486
16627  0.000000  0.953398  0.000000  0.000000  0.000000  0.000000
16628  0.000000  0.977889  0.000000  0.000000  0.000000  0.000000
16629  0.000000  0.961978  0.000000  0.000000  0.000000  0.000000
16630  0.000000  0.967752  0.000000  0.000000  0.000000  0.000000
16631  0.000000  0.977331  0.000000  0.000000  0.000000  0.000000
16632  0.000000  0.979513  0.000000  0.000000  0.000000  0.000000
16633  0.028065  0.859992  0.027881  0.027990  0.028057  0.028015
16634  0.000000  0.975323  0.000000  0.000000  0.000000  0.000000
16635  0.000000  0.959973  0.000000  0.000000  0.000000  0.000000
16636  0.013988  0.441545  0.013941  0.013971  0.502550  0.014005

[16637 rows x 6 columns]

In [37]:
#Para_text_bow,
X = sp.sparse.hstack((Para_text_bow,
                     text_data_merge.iloc[:,[5,6,7,8,9,10]]),format='csr')

## 7. Model Building

### 7.1 Splitting data into train and test

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X ,final_data_frame.Response_binary,
                                                    test_size = 0.3, random_state = 0)

In [ ]:
# features = bow_model.get_feature_names()
# features.extend(['Sentiment'])
# features.extend(emotional_features.columns.values)
# features.extend(text_data_spacy_features_codes.columns.values)

### 7.2 Machine Learning Models

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [42]:
#knn_model = KNeighborsClassifier(n_neighbors= 3, p = 1.5)
rf_model = RandomForestClassifier(n_estimators= 50)
lr_model = LogisticRegression(multi_class='multinomial')
#rf_model = SVC(C = 10, kernel = 'poly')

In [43]:
rf_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

### 7.3 Reviewing the response

In [44]:
pd.DataFrame(rf_model.predict(X_test))[0].value_counts()

0    4988
1       4
Name: 0, dtype: int64

##### Almost all the values are predicited as 1. Now looking at the confusion matrix, even all the predicted ones are not correct

In [45]:
from sklearn.metrics import confusion_matrix
preds = pd.DataFrame([np.argmax(each) if each.sum() != 0 else 10 for each in rf_model.predict(X_test)])[0]

confusion_matrix(y_test,preds)

array([[   3,    0, 4808],
       [   1,    0,  180],
       [   0,    0,    0]])